@using UnaPinta.Dto.Models.User;
@{ 
    Layout = "LayoutUnaPinta";
    var userProfileData = TempData["userProfile"] as UserProfileDto;
}
<div class="container">
    <div class="text-center">
        <p style="font-family: 'Roboto', sans-serif; font-size:30px; font-weight:bold">Bienvenido a tu perfil username</p>
    </div>
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_rw0hvilj.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Nombre:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="@userProfileData.FirstName" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Apellidos:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="@userProfileData.LastName" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Sexo:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if (userProfileData.Sex == true)
                                {
                                    <input value="M" readonly="readonly" class="form-control" />
                                }
                                else
                                {
                                    <input value="F" readonly="readonly" class="form-control" />
                                }
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Fecha de nacimiento:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" readonly="readonly" value="@userProfileData.BirthDate.ToString("yyyy/MM/dd")" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Teléfono:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="@userProfileData.PhoneNumber" id="inputPhone" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Provincia:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="@userProfileData.ProvinceCode" id="inputProvince" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" style="font-weight:bold">Usuario:</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input value="@userProfileData.UserName" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button id="editButton" onclick="editUser()" class="btn btn-primary">Editar</button>
                                <button id="saveButton" hidden="hidden" onclick="saveChanges()" class="btn btn-success">Guardar</button>
                                <button id="cancelButton" hidden="hidden" onclick="cancelhanges()" class="btn btn-info">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function editUser() {
        $('#inputProvince').attr("readonly", false);
        $('#inputPhone').attr("readonly", false);
        $('#saveButton').attr("hidden", false);
        $('#cancelButton').attr("hidden", false);
    }

    function saveChanges() {
        var province = $('#inputProvince').val();
        var phone = $('#inputPhone').val();

        $.ajax({
            url: "/User/ModifyFields/",
            dataType: "json",
            cache: false,
            type: 'POST',
            data: { province, phone },
            success: function (result) {
                if (result.statusCode == 200) {
                    Swal.fire({
                        title: "Bien",
                        text: "Datos actualizados correctamente",
                        type: "success",
                        icon: "success",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        closeOnConfirm: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                }
                else {
                    Swal.fire({
                        title: "Error",
                        text: "Ha ocurrido un error en el proceso",
                        type: "error",
                        icon: "error",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        closeOnConfirm: true
                    })
                }

            }
        });
    }

    function cancelhanges() {
        $('#inputProvince').attr("readonly", true);
        $('#inputPhone').attr("readonly", true);
        $('#saveButton').attr("hidden", true);
        $('#cancelButton').attr("hidden", true);
    }

</script>